PORT=4000
NODE_ENV=development

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=nikhil010203
MYSQL_DATABASE=Nikhildealsense

JWT_SECRET=qawscdrfvbgyhnujmikolp479f3zbgimds
JWT_EXPIRES_IN=7d

# SERP_API_KEY =2d74f78696069a4ad882f04710cf92f2571e6a2e74b2e31822e246d9e86cc331